<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Title-->
  <title>Frushop.</title>
  <!-- CSS Libraries-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/animate.css">
  <link rel="stylesheet" href="../css/owl.carousel.min.css">
  <link rel="stylesheet" href="../css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/bootstrap-icons.css">
  <link rel="stylesheet" href="../css/magnific-popup.css">
  <link rel="stylesheet" href="../css/ion.rangeSlider.min.css">
  <link rel="stylesheet" href="../css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../css/apexcharts.css">
  <!-- Core Stylesheet-->
  <link rel="stylesheet" href="../css/style.css">
  <!-- Web App Manifest-->
</head>

<body>


  {{#if admin}}
  {{>admin-header}}
  {{else}}
  {{>user-header}}
  {{/if}}

  {{{body}}}


  <script>
    function logout() {
      var navBar = document.getElementById('sidenavWrapper').classList.remove("nav-active");
      var navOverlay = document.getElementById('nav_overlay').classList.remove("active");
      console.log("hi swal");
      Swal.fire({
        toast: false,
        icon: 'warning',
        title: "Are you sure?",
        animation: true,
        showConfirmButton: false,
        timerProgressBar: true,
        showDenyButton: true,
        showCancelButton: true,
        cancelButtonText: "Later",
        denyButtonText: `Logout`,
      }).then(
        (result) => {
          if (result.isDenied) {
            window.location.href = "/signout"
          }
        }
      )
    };
  </script>
  <!-- All JavaScript Files-->
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/default/internet-status.js"></script>
  <script src="../js/waypoints.min.js"></script>
  <script src="../js/jquery.easing.min.js"></script>
  <script src="../js/wow.min.js"></script>
  <script src="../js/owl.carousel.min.js"></script>
  <script src="../js/jquery.counterup.min.js"></script>
  <script src="../js/jquery.countdown.min.js"></script>
  <script src="../js/imagesloaded.pkgd.min.js"></script>
  <script src="../js/isotope.pkgd.min.js"></script>
  <script src="../js/jquery.magnific-popup.min.js"></script>
  <script src="../js/default/dark-mode-switch.js"></script>
  <script src="../js/ion.rangeSlider.min.js"></script>
  <script src="../js/jquery.dataTables.min.js"></script>
  <script src="../js/default/active.js"></script>
  <script src="../js/default/clipboard.js"></script>
  <!-- PWA-->
  <script src="../js/pwa.js"></script>
</body>

</html>